@charset "UTF-8";

body{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1{
    color: brown;
    background-color: yellowgreen;
    text-align: center;
    
}
h2{
    color: brown;
    background-color: yellowgreen;
    text-align: center;
    text-decoration: underline;
}
p{
    text-align: justify;
}
